extends: ["airbnb", "plugin:react-native/all"]
parser: "babel-eslint"
rules:
  indent: [0, 4, { "SwitchCase": 2, "VariableDeclarator": 2 }]
  semi: [2, "always"]
  one-var: [0, "never"]
  no-unused-vars: [0, "never"]
  no-underscore-dangle: [0, "never"]
  comma-dangle: [2, "only-multiline"]
  max-len: ["warn", 150, { "ignoreComments": true }]
  camelcase: [0, {properties: "never"}]
  arrow-body-style: [0, "never"]
  no-param-reassign: [0, "never"]
  no-use-before-define: [0, "never"]
  class-methods-use-this: [0, "never"]
  react/jsx-filename-extension: [0, "never"]
  react/prefer-stateless-function: [0, "never"]
  react/jsx-indent: [2, 4]
  react/jsx-indent-props: [2, 4]
  react/no-unused-prop-types: [0]
  react/forbid-prop-types: ['error', { forbid: ['any', 'array'] }]
  react-native/no-inline-styles: [0, "never"]
  react-native/no-unused-styles: [0, "never"]
  react-native/split-platform-components: [0, "never"]
  react-native/no-color-literals: [0, "never"]
  react/sort-comp: [0, "never"]
